<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Transfer'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col">
            <button class="btn-primary" (click)="showSearch()">{{'Accountant.Tables.SearchCheque'| translate}}</button>
        </div>
        <div class="col">
            <button class="btn-primary" (click)="showCash()">{{'Accountant.Tables.TransferCash'| translate}}</button>
        </div>
        <div class="col">
            <button class="btn-primary" (click)="showCheque()">{{'Accountant.Tables.TransferBank'| translate}}</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row" *ngIf="search">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.SearchCheque'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="showTable()">
                        <label>
                            <input type="text" placeholder="Enter Cheque Number" formControlName="chequeNo"/>
                        </label>
                        <button type="submit" [disabled]="!searchForm.valid">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="contennnt">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.ShowDate'| translate}}</td>
                            <td>{{date| date:'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.AmountReceived'| translate}}</td>
                            <td>{{amount| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.ChequeDate'| translate}}</td>
                            <td>{{chequeDate| date:'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.BankName'| translate}}</td>
                            <td>{{bankName}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{employeeId}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{employeeName}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Purpose'| translate}}</td>
                            <td>{{purpose}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div class="row" *ngIf="cash">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.TransferCash'| translate}}</div>
                <div class="card-body table-responsive">
                    <form [formGroup]="cashForm" (ngSubmit)="send()">
                        <table class="table table-striped" id="contennt">
                            <tbody>
                            <tr>
                                <td>{{'Accountant.Tables.Date'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="date" formControlName="date"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="cashForm.get('date').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Amount'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="amount"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="cashForm.get('amount').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.BankName' | translate}}</td>
                                <td>
                                    <label>
                                        <select class="custom-select" formControlName="bankName">
                                            <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                        </select>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="cashForm.get('bankName').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" [disabled]="!cashForm.valid">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div class="row" *ngIf="cheque">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.TransferBank'| translate}}</div>
                <div class="card-body table-responsive">
                    <form [formGroup]="chequeForm" (ngSubmit)="send()">
                        <table class="table table-striped" id="contentt">
                            <tbody>
                            <tr>
                                <td>{{'Accountant.Tables.Date'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="date" formControlName="date" required/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="chequeForm.get('date').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Amount'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="amount" required/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="chequeForm.get('amount').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.BankName' | translate}}</td>
                                <td>
                                    <label>
                                        <select class="custom-select" formControlName="bankName">
                                            <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                        </select>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="chequeForm.get('bankName').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.ChequeDate' | translate}}</td>
                                <td>
                                    <label>
                                        <input type="date" formControlName="chequeDate"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="chequeForm.get('chequeDate').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.ChequeNo' | translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="chequeNo"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="chequeForm.get('chequeNo').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" [disabled]="!chequeForm.valid">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>



