<div class="row">
    <div>
        <label class="hoverable" for="fileInput">
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
            <div class="hover-text">Choose file</div>
            <div class="background"></div>
        </label>
        <input id="fileInput" type='file' (change)="onSelectFile($event)">
    </div>
    <div style="margin-top: 20px">
        <li class="nav-item dropdown dropdown-user no-caret" *ngIf="userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
            <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
                <h6 class="dropdown-header">
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">{{ user.firstName }} {{ user.lastName }}</div>
                        <div class="dropdown-user-details-name">{{ user.companyName }}</div>
                        <div class="dropdown-user-details-email">{{ user.email }}</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">{{'Common.User.Settings'|translate}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/auth/login">{{'Common.User.Logout'|translate}}</a>
            </div>
        </li>
    </div>
</div>
