<div>
    <li class="nav-item dropdown dropdown-user no-caret" ngbDropdown placement="bottom-right" display="dynamic">
        <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false">
            <img [src]="this.naviService.img!=null ? this.naviService.img : 'assets/img/Image.jpg'" width="50px" height="50px" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
            <h6 class="dropdown-header">
                <div class="dropdown-user-details">
                    <div class="dropdown-user-details-name" *ngIf="user.id">User Id - {{ user.id }}</div>
                    <div class="dropdown-user-details-name" *ngIf="user.name">Name - {{ user.name }}</div>
                    <div class="dropdown-user-details-name" *ngIf="user.email">Email - {{ user.email }}</div>
                    <div class="dropdown-user-details-email" *ngIf="user.address">Current Address - {{ user.address }}</div>
                </div>
            </h6>
            <ng-container *ngIf="user.role === 1; else emp">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/profile">Edit Profile</a>
            </ng-container>
            <ng-template #emp>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/emp-profile">Edit Profile</a>
            </ng-template>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/login">{{'Common.User.Logout'|translate}}</a>
        </div>
    </li>
</div>
