<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Foreclosure'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Foreclosure'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline">
                        <label>
                            <input type="text" placeholder="Enter Employee No" name="employeeNo" [(ngModel)]="text"/>
                        </label>
                        <label>
                            <input type="date" placeholder="Enter Loan Date" [(ngModel)]="loanDate" name="loanDate"/>
                        </label>
                        <button (click)="showTable()">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>{{loanType}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Active'| translate}}</td>
                            <td>{{loanAmount| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.LoanDate'| translate}}</td>
                            <td>{{loanDate| date:'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Amt'| translate}}</td>
                            <td>{{payAmount| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.DateForeclosure'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Close'| translate}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" (change)="close()"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>

