<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Foreclosure'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Foreclosure'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="showTable()">
                        <label>
                            <input type="text" placeholder="Enter Employee No" formControlName="employeeNo"/>
                        </label>
                        <button type="submit" [disabled]="!searchForm.valid">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <!--tr>
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>{{loanType}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Active'| translate}}</td>
                            <td>{{loanAmount| indianCurrency}}</td>
                        </tr-->
                        <!--tr>
                            <td>{{'Accountant.Tables.LoanDate'| translate}}</td>
                            <td>{{loanDate| date:'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Amt'| translate}}</td>
                            <td>{{payAmount| indianCurrency}}</td>
                        </tr-->
                        <tr>
                            <td>{{'Accountant.Tables.DateForeclosure'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div *ngIf="table">
        <sb-card>
            <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.LoanDetails'| translate}}</div>
            <div class="card-body table-responsive">
                <table class="table table-striped" *ngIf="table">
                    <thead>
                        <tr>
                            <td>{{'Accountant.Tables.LoanDate'| translate}}</td>
                            <td>{{'Accountant.Tables.Loan'| translate}}</td>
                            <td>{{'Accountant.Tables.Duration'| translate}}</td>
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>{{'Accountant.Tables.PrincipleOutstanding'| translate}}</td>
                            <td>{{'Accountant.Tables.CloseLoan'| translate}}</td>
                        </tr>
                    </thead>
                    <tbody *ngFor="let loan of loanData; let i=index;">
                        <tr>
                            <td>{{loan.date| date:'dd-MM-yyyy'}}</td>
                            <td>{{loan.amount| indianCurrency}}</td>
                            <td>{{loan.duration}}</td>
                            <td>{{loan.type}}</td>
                            <td>{{loan.pending| indianCurrency}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" (click)="pay(i)"/>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="payMode[i]" align="center">
                            <td colspan="6">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>{{'Accountant.Tables.Mode' | translate}}</td>
                                        <td>
                                            <label>
                                                <select class="custom-select" [(ngModel)]="type[i]">
                                                    <option>{{'Accountant.Tables.Cash' | translate}}</option>
                                                    <option>{{'Accountant.Tables.Cheque' | translate}}</option>
                                                </select>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="type == 'Cheque'">
                                        <td>{{'Accountant.Tables.BankName' | translate}}</td>
                                        <td>
                                            <label>
                                                <select class="custom-select" name="bankName" [(ngModel)]="bankName[i]">
                                                    <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                                </select>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="type == 'Cheque'">
                                        <td>{{'Accountant.Tables.ChequeDate' | translate}}</td>
                                        <td>
                                            <label>
                                                <input type="date" [(ngModel)]="chequeDate[i]" name="chequeDate"/>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="type == 'Cheque'">
                                        <td>{{'Accountant.Tables.ChequeNo' | translate}}</td>
                                        <td>
                                            <label>
                                                <input type="text" [(ngModel)]="chequeNo[i]" name="chequeNo"/>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{'Accountant.Tables.Remark'| translate}}</td>
                                        <td>
                                            <label>
                                                <input type="text" [(ngModel)]="purpose[i]" name="purpose"/>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button (click)="close(loan.loanId, loan.amount, loan.date, type[i], bankName[i],chequeDate[i],chequeNo[i],purpose[i],loan.pending)">{{'Accountant.Tables.Submit'| translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sb-card>
    </div>
</sb-layout-dashboard>

