<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{user.name}}'s {{'Common.Title'|translate}}">
    </sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details link="" text="{{loanAmount| indianCurrency}}" background="bg-primary">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "hockey-puck"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Employee.Cards.Loan'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details link="" text="{{emi| indianCurrency}}" background="bg-warning">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "wallet"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Employee.Cards.Deposit'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details link="" text="{{amount| indianCurrency}}" background="bg-success">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "coins"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Employee.Cards.Debit'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details link="" text="{{balance| indianCurrency}}" background="bg-danger">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "money-check"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Employee.Cards.Credit'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
    </div>

    <br/>
    <!--PassBook Table-->
    <sb-card>
        <div class="card-header">
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{"Employee.Passbook.Title" | translate}}
                </div>
                <div class="col">
                    <input type="text" placeholder="Search.." [(ngModel)]="term"/>
                </div>
            </div>
        </div>
        <ng-template #not>
            <td>-</td>
        </ng-template>
        <div class="card-body table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 16.66%;" scope="col"><span>{{"Employee.Passbook.Date" | translate}}</span></th>
                    <th style="width: 60%;" scope="col"><span>{{"Employee.Passbook.Particulars" | translate}}</span></th>
                    <th scope="col"><span>Mode</span></th>
                    <th scope="col"><span>{{"Employee.Passbook.Deposit" | translate}}</span></th>
                    <th scope="col"><span>{{"Employee.Passbook.Withdrawal" | translate}}</span></th>
                </tr>
                </thead>
                <tbody *ngFor="let val of account | filter: term | paginate: { itemsPerPage:5, currentPage: p} ">
                <tr>
                    <td scope="row" *ngIf="isDate(val.account.date); else notDate">{{ val.account.date| date:'dd-MM-yyyy' }}</td>
                    <ng-template #notDate>
                        <td>{{val.account.date}}</td>
                    </ng-template>
                    <td *ngIf="val.account.particulars; else not">{{val.account.particulars}}</td>
                    <td *ngIf="val.account.mode; else not">{{val.account.mode}}</td>
                    <td class="table-success" *ngIf="val.account.credit; else not">{{val.account.credit| indianCurrency}}</td>
                    <td class="table-danger" *ngIf="val.account.debit; else not">{{val.account.debit| indianCurrency}}</td>
                </tr>
                <tr>
                    <td *ngIf="val.cheque" align="center" colspan="5">
                        <h6 style="font-weight: bold">Cheque Details</h6>
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <td style="width: 16.66%;">Cheque Date</td>
                                <td style="width: 60%;">Bank Name</td>
                                <td>Cheque Number</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td *ngIf="val.cheque[0].chequeDate; else not">{{val.cheque[0].chequeDate| date:'dd-MM-yyyy'}}</td>
                                <td class="col-5" *ngIf="val.cheque[0].bankName; else not">{{val.cheque[0].bankName}}</td>
                                <td *ngIf="val.cheque[0].chequeNo; else not">{{val.cheque[0].chequeNo}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
        </div>
    </sb-card>
    <!--Loan Table-->
    <ng-container *ngFor="let data of loans; let i = index">
        <sb-card>
            <div class="card-header bg-primary headers">
                <div class="row">
                    <div class="col" style="margin-top: 10px; color: white;">
                        <h5><fa-icon class="mr-1" [icon]='["fas", "rupee-sign"]'></fa-icon>&nbsp;{{'Employee.Loan'| translate}} ({{data.loanData.date| date:'dd-MM-yyyy'}})</h5>
                    </div>
                    <div class="col" style="color: white;">
                        <fa-icon class="fa-pull-right rotate" [ngClass]="{'clicked': show[i]}" (click)="showTable(i)" [icon]='["fas","caret-right"]' style="margin-top: 10px;">
                        </fa-icon>&nbsp;
                        <span class="float-right" style="margin: 10px;"><h5 *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount| indianCurrency}}</h5></span>
                    </div>
                </div>
            </div>
            <div class="card-header" *ngIf="show[i]  && data.loanBook">
                <div class="row">
                    <div class="col" style="margin-top: 10px;">
                        <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>&nbsp;{{"Employee.Loanbook.Title" | translate}}
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive" *ngIf="show[i] && data.loanBook">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 16.66%;" scope="col"><span>{{"Employee.Loanbook.Date" | translate}}</span></th>
                        <th style="width: 60%;" scope="col"><span>{{"Employee.Loanbook.Particulars" | translate}}</span></th>
                        <th scope="col"><span>{{"Employee.Loanbook.Emi" | translate}}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let value of data.loanBook">
                        <td scope="row" *ngIf="isDate(value.date); else notDate">{{value.date}}</td>
                        <ng-template #notDate>
                            <td>{{value.date}}</td>
                        </ng-template>
                        <td class="col-5" *ngIf="value.particulars; else not">{{value.particulars}}</td>
                        <td *ngIf="value.credit; else not">{{value.credit| indianCurrency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </sb-card>
    </ng-container>

</sb-layout-emp-dashboard>
