<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{'Employee.Pages.Calculator'|translate}}"></sb-dashboard-head>
    <!--ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"[ngClass]="{active: true}">
            <a [routerLink]="['/emp-dashboard']">{{'Common.Title'| translate}}</a>
            <span>{{'EmployeeDashboard.Pages.Calculator'|translate}}</span>
        </li>
    </ol-->
    <hr class="rounded">
    <br>
    <sb-card>
        <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Employee.Pages.Calculator'|translate}}</div>
        <div class="card-body"><sb-loan-emi-calculator></sb-loan-emi-calculator></div>
    </sb-card>
</sb-layout-emp-dashboard>
