<div id="data">
    <br>
    <h1 mat-dialog-title align="center" id="title">Letter for Account Closure</h1>
    <mat-dialog-content class="mat-typography">
        <h3 id="date">Date: {{date| date:'dd-MM-yyyy'}}</h3>
        <br/>
        <h3 id="company">ABC Company</h3>
        <h3 id="address1">Nariman Point</h3>
        <h3 id="address2">Mumbai</h3>
        <br/>
        <h3 id="salutation">Dear {{name}}</h3>
        <h3>We would like to notify that all the dues of {{name}} having Employee Id as {{id}} has been cleared and the account is ready to be closed. Please submit this letter with your signature</h3>
        <br/>
        <h3 id="thank">Thanking You</h3>
        <br>
        <h3 id="bottom1">Yours faithfully</h3>
        <h3 id="bottom2">Amita Gupta</h3>
        <h3 id="bottom3">Manager</h3>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button class="btn-danger" mat-button mat-dialog-close>Cancel</button>
    <button class="btn-success" mat-button (click)="onConfirmClick()" cdkFocusInitial>Print</button>
</mat-dialog-actions>
