<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Upload'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            <button class="btn-primary" (click)="showEmployeeAccountInfo()">{{'Accountant.Tables.CreateEmp'| translate}}</button>
        </div>
        <div class="col">
            <button class="btn-primary" (click)="showBankAccountInfo()">{{'Accountant.Tables.CreateBank'| translate}}</button>
        </div>
        <div class="col">
            <button class="btn-primary" (click)="showReportInfo()">{{'Accountant.Tables.Generate'| translate}}</button>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
    <div class="row" *ngIf="employeeAccount">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.CreateEmp'| translate}}</div>
                <div class="card-body table-responsive">
                    <form [formGroup]="employeeForm" (ngSubmit)="send()">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number form-control" formControlName="employeeId" required />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('employeeId').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="employeeName" required />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('employeeName').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Father'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="fatherName" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.PermAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="permAddress" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.SameAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" (click)="sameAddress($event)" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.CurrAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="currAddress" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Email'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="email" formControlName="email" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('email').hasError('email')">Provide valid email</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.MobNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="mobileNo" minlength="10" maxlength="10" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('mobileNo').hasError('min')">Number should be of 10 digits</div>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('mobileNo').hasError('max')">Number should be of 10 digits</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.AltMobNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="altMobileNo" minlength="10" maxlength="10" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('altMobileNo').hasError('min')">Number should be of 10 digits</div>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('altMobileNo').hasError('max')">Number should be of 10 digits</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Landline'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="landlineNo" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('landlineNo').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.PAN'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="pan" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('pan').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Aadhar'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="aadharNo" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('aadharNo').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.EnrollDate'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="date" formControlName="enrollDate" required/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('enrollDate').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Fee'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" formControlName="amount" required/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('amount').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Mode' | translate}}</td>
                                <td>
                                    <label>
                                        <select class="custom-select" formControlName="type" required>
                                            <option>{{'Accountant.Tables.Cash' | translate}}</option>
                                            <option>{{'Accountant.Tables.Cheque' | translate}}</option>
                                        </select>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('type').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr *ngIf="employeeForm.get('type').value == 'Cheque';">
                                <td>{{'Accountant.Tables.BankName' | translate}}</td>
                                <td>
                                    <label>
                                        <select class="custom-select" formControlName="bankName">
                                            <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                        </select>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('bankName').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr *ngIf="employeeForm.get('type').value == 'Cheque'">
                                <td>{{'Accountant.Tables.ChequeDate' | translate}}</td>
                                <td>
                                    <label>
                                        <input type="date" formControlName="chequeDate"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('chequeDate').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr *ngIf="employeeForm.get('type').value == 'Cheque'">
                                <td>{{'Accountant.Tables.ChequeNo' | translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="chequeNo"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('chequeNo').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Remark'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" formControlName="purpose" maxlength="1000"/>
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('purpose').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div class="row" *ngIf="report">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.Generate'| translate}}</div>
                <div class="card-body table-responsive">
                    <form [formGroup]="reportForm" (ngSubmit)="openDialog()">
                        <table class="table table-striped" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.Start'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" formControlName="startDate"/>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="reportForm.get('startDate').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.End'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" formControlName="endDate"/>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="reportForm.get('endDate').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Category'| translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" formControlName="category">
                                        <option>{{'Accountant.Tables.LoanRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.CreditRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.DebitRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.ExpenseRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.CdeRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.CashRecord'| translate}}</option>
                                        <option>{{'Accountant.Tables.ChequeRecord'| translate}}</option>
                                    </select>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="reportForm.get('category').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <button type="submit" [disabled]="!this.reportForm.valid">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div class="row" *ngIf="bankAccount">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Tables.CreateBank'| translate}}</div>
                <div class="card-body table-responsive">
                    <form [formGroup]="bankForm" (ngSubmit)="sendBankData()">
                        <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.BankName' | translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select form-control" required formControlName="bankName" >
                                        <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                    </select>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('bankName').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Address' | translate}}</td>
                            <td>
                                <label>
                                    <input type="text" class="form-control" maxlength="1000" formControlName="bankAddress"/>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('bankAddress').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.AccountNo' | translate}}</td>
                            <td>
                                <label>
                                    <input type="number" class="form-control" formControlName="accountNo" pattern="^\d{9,18}$"/>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('accountNo').hasError('required')">Required!</div>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('accountNo').hasError('pattern')">Length should be from 9 to 18</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.TypeAccount' | translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select form-control" required formControlName="accountType">
                                        <option>{{'Accountant.Tables.SavingAcc' | translate}}</option>
                                        <option>{{'Accountant.Tables.Current' | translate}}</option>
                                    </select>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('accountType').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Nickname' | translate}}</td>
                            <td>
                                <label>
                                    <input type="text" formControlName="nickName" maxlength="12" required/>
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('nickName').hasError('required')">Required!</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Code' | translate}}</td>
                            <td>
                                <label>
                                    <input type="text" formControlName="code" required pattern="^[A-Z]{4}[0][A-Z0-9]{6}$" minlength="11" maxlength="11" />
                                </label>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('code').hasError('required')">Required!</div>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('code').hasError('pattern')">Invalid Format!</div>
                                <div class="alert alert-danger error-box" *ngIf="bankForm.get('code').hasError('minlength')">Minimum Length should be 11</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <button type="submit" [disabled]="!this.bankForm.valid">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>



