<div class="row">
    <div class="col">
        <h1 class="mt-4">{{title}}</h1>
    </div>
    <div class="col language">
        <label for=""><h6>{{'Common.Select'|translate}}</h6>
            <select class="custom-select" #langselect (change)="translate.use(langselect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
            </select>
        </label>
    </div>
</div>
<!--sb-breadcrumbs *ngIf="!hideBreadcrumbs"></sb-breadcrumbs-->

