<div id="data">
    <h2 mat-dialog-title>Bank Statement</h2>
    <mat-dialog-content class="mat-typography">
        <h3>Employee Id: {{id}}</h3>
        <h3>Employee Name: {{name}}</h3>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Particulars</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Start Date</td>
                <td>{{start}}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{end}}</td>
            </tr>
            <tr>
                <td>Balance</td>
                <td>{{balance}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>Loan Account Details</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Month and Year</th>
                    <th>Loan Amount</th>
                    <th>Loan Duration</th>
                    <th>Loan Type</th>
                    <th>Close Loan</th>
                    <th>Date of Loan Closure</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of loanData">
            <tr>
                <td *ngIf="data.loanData.date; else not">{{data.loanData.date}}</td>
                <td *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount}}</td>
                <td *ngIf="data.loanData.loanDuration; else not">{{data.loanData.loanDuration}}</td>
                <td *ngIf="data.loanData.loanType; else not">{{data.loanData.loanType}}</td>
                <td *ngIf="data.loanData.closeLoan; else not">{{data.loanData.closeLoan}}</td>
                <td *ngIf="data.loanData.dateOfClosure; else not">{{data.loanData.dateOfClosure}}</td>
            </tr>
            <tr>
                <td *ngIf="data.loanBook" align="center" colspan="6">
                    <h3>Loan Book Details</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Particulars</th>
                            <th>EMI</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td *ngIf="data.loanBook.date; else not">{{data.loanBook.date}}</td>
                            <td *ngIf="data.loanBook.particulars; else not">{{data.loanBook.particulars}}</td>
                            <td *ngIf="data.loanBook.EMI; else not">{{data.loanBook.EMI}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <ng-template #not>
            <td>null</td>
        </ng-template>
        <br>
        <h3>Operating Account Details</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Particulars</th>
                    <th>Deposit</th>
                    <th>Withdrawal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of accountData">
                    <td *ngIf="val.date; else not">{{val.date}}</td>
                    <td *ngIf="val.particulars; else not">{{val.particulars}}</td>
                    <td *ngIf="val.credit; else not">{{val.credit}}</td>
                    <td *ngIf="val.debit; else not">{{val.debit}}</td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button class="btn-danger" mat-button mat-dialog-close>Cancel</button>
    <button class="btn-success" mat-button (click)="onConfirmClick()" cdkFocusInitial>Download</button>
</mat-dialog-actions>
