<div id="data">
    <h1 mat-dialog-title align="center" id="title">Bank Statement</h1>
    <mat-dialog-content class="mat-typography">
        <h3 id="empId">Employee Id: {{id}}</h3>
        <h3 id="empName">Employee Name: {{name}}</h3>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Particulars</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Start Date</td>
                <td id="start">{{start| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td id="end">{{end| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td>Balance</td>
                <td id="bal">{{balance| indianCurrency}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1 id="subDetail1">Operating Account Details</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 16.66%;">Date</th>
                <th style="width: 60%;">Particulars</th>
                <th>Mode</th>
                <th>Deposit</th>
                <th>Withdrawal</th>
            </tr>
            </thead>
            <tbody *ngFor="let val of accountData">
            <tr>
                <td *ngIf="isDate(val.account.date); else notDate">{{val.account.date| date:'dd-MM-yyyy'}}</td>
                <ng-template #notDate>
                    <td>{{val.account.date}}</td>
                </ng-template>
                <td *ngIf="val.account.particulars; else not">{{val.account.particulars}}</td>
                <td *ngIf="val.account.mode; else not">{{val.account.mode}}</td>
                <td class="table-success" *ngIf="val.account.credit; else not" id="deposit">{{val.account.credit| indianCurrency}}</td>
                <td class="table-danger" *ngIf="val.account.debit; else not" id="withDraw">{{val.account.debit| indianCurrency}}</td>
            </tr>
            <tr>
                <td *ngIf="val.cheque" align="center" colspan="5">
                    <h3 style="font-weight: bold">Cheque Details</h3>
                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;">Cheque Date</th>
                            <th style="width: 60%;">Bank Name</th>
                            <th>Cheque Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td *ngIf="val.cheque[0].chequeDate; else not">{{val.cheque[0].chequeDate| date:'dd-MM-yyyy'}}</td>
                            <td class="col-5" *ngIf="val.cheque[0].bankName; else not">{{val.cheque[0].bankName}}</td>
                            <td *ngIf="val.cheque[0].chequeNo; else not">{{val.cheque[0].chequeNo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1 id="subDetail2">Loan Account Details</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Loan Date</th>
                    <th>Loan Amount</th>
                    <th>Loan Duration</th>
                    <th>Loan Type</th>
                    <th>Close Loan</th>
                    <th>Closure Status</th>
                    <th>Date of Loan Closure</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of loanData;">
            <tr>
                <td *ngIf="isDate(data.loanData.date); else notDate">{{data.loanData.date| date:'dd-MM-yyyy'}}</td>
                <ng-template #notDate>
                    <td>{{data.loanData.date}}</td>
                </ng-template>
                <td *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount| indianCurrency}}</td>
                <td *ngIf="data.loanData.loanDuration; else not">{{data.loanData.loanDuration}}</td>
                <td *ngIf="data.loanData.loanType; else not">{{data.loanData.loanType}}</td>
                <td *ngIf="data.loanData.closeLoan; else not">{{data.loanData.closeLoan}}</td>
                <td *ngIf="data.loanData.closeStatus; else not">{{data.loanData.closeStatus}}</td>
                <td *ngIf="data.loanData.dateOfClosure; else not">{{data.loanData.dateOfClosure| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td *ngIf="data.loanBook" align="center" colspan="7">
                    <h3 style="font-weight: bold">EMI Details</h3>
                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;">EMI Date</th>
                            <th style="width: 60%;">Particulars</th>
                            <th>EMI Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let value of data.loanBook">
                            <td *ngIf="isDate(value.date); else notDate">{{value.date}}</td>
                            <ng-template #notDate>
                                <td>{{value.date}}</td>
                            </ng-template>
                            <td class="col-5" *ngIf="value.particulars; else not">{{value.particulars}}</td>
                            <td *ngIf="value.credit; else not">{{value.credit| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td *ngIf="data.closeData && data.closeData[0].mode==='Cash';else cheque" align="center" colspan="7">
                    <h3 style="font-weight: bold">Loan Closure Details</h3>
                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;">Date</th>
                            <th>Loan Status</th>
                            <th>Mode of Payment</th>
                            <th>Paid Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td *ngIf="isDate(data.closeData[0].date); else notDate">{{data.closeData[0].date| date:'dd-MM-yyyy'}}</td>
                            <ng-template #notDate>
                                <td>{{data.closeData[0].date}}</td>
                            </ng-template>
                            <td *ngIf="data.loanData.closeStatus; else not">{{data.loanData.closeStatus}}</td>
                            <td *ngIf="data.closeData[0].mode; else not">{{data.closeData[0].mode}}</td>
                            <td *ngIf="data.closeData[0].credit; else not">{{data.closeData[0].credit| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <ng-template #cheque>
                    <td *ngIf="data.closeData && data.closeData[0].mode==='Cheque';" align="center" colspan="7">
                        <h3 style="font-weight: bold">Loan Closure Details</h3>
                        <table style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="width: 16.66%;">Date</th>
                                <th>Loan Status</th>
                                <th>Mode of Payment</th>
                                <th>Paid Amount</th>
                                <th>Cheque Date</th>
                                <th>Bank Name</th>
                                <th>Cheque Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td *ngIf="isDate(data.closeData[0].date); else notDate">{{data.closeData[0].date| date:'dd-MM-yyyy'}}</td>
                                <ng-template #notDate>
                                    <td>{{data.closeData[0].date}}</td>
                                </ng-template>
                                <td *ngIf="data.loanData.closeStatus; else not">{{data.loanData.closeStatus}}</td>
                                <td *ngIf="data.closeData[0].mode; else not">{{data.closeData[0].mode}}</td>
                                <td *ngIf="data.closeData[0].credit; else not">{{data.closeData[0].credit| indianCurrency}}</td>
                                <td *ngIf="data.chequeData[0].chequeDate; else not">{{data.chequeData[0].chequeDate| date:'dd-MM-yyyy'}}</td>
                                <td *ngIf="data.chequeData[0].bankName; else not">{{data.chequeData[0].bankName}}</td>
                                <td *ngIf="data.chequeData[0].chequeNo; else not">{{data.chequeData[0].chequeNo}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </ng-template>
            </tr>
            </tbody>
        </table>
        <ng-template #not>
            <td>-</td>
        </ng-template>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button class="btn-danger" mat-button mat-dialog-close>Cancel</button>
    <button class="btn-success" mat-button (click)="onConfirmClick()" cdkFocusInitial>Download</button>
</mat-dialog-actions>
