<div id="data">
    <h1 mat-dialog-title align="center">Bank Statement</h1>
    <mat-dialog-content class="mat-typography">
        <h3>Employee Id: {{id}}</h3>
        <h3>Employee Name: {{name}}</h3>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Particulars</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Start Date</td>
                <td>{{start| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{end| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td>Balance</td>
                <td>{{balance| indianCurrency}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>Operating Account Details</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 16.66%;">Date</th>
                <th style="width: 60%;">Particulars</th>
                <th>Deposit</th>
                <th>Withdrawal</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let val of accountData">
                <td *ngIf="val.date; else not">{{val.date| date:'dd-MM-yyyy'}}</td>
                <td *ngIf="val.particulars; else not">{{val.particulars}}</td>
                <td class="table-success" *ngIf="val.credit; else not">{{val.credit| indianCurrency}}</td>
                <td class="table-danger" *ngIf="val.debit; else not">{{val.debit| indianCurrency}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <h1>Loan Account Details</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Loan Date</th>
                    <th>Loan Amount</th>
                    <th>Loan Duration</th>
                    <th>Loan Type</th>
                    <th>Close Loan</th>
                    <th>Date of Loan Closure</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of loanData;">
            <tr>
                <td *ngIf="data.loanData.date; else not">{{data.loanData.date| date:'dd-MM-yyyy'}}</td>
                <td *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount| indianCurrency}}</td>
                <td *ngIf="data.loanData.loanDuration; else not">{{data.loanData.loanDuration}}</td>
                <td *ngIf="data.loanData.loanType; else not">{{data.loanData.loanType}}</td>
                <td *ngIf="data.loanData.closeLoan; else not">{{data.loanData.closeLoan}}</td>
                <td *ngIf="data.loanData.dateOfClosure; else not">{{data.loanData.dateOfClosure| date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
                <td *ngIf="data.loanBook" align="center" colspan="6">
                    <h3 style="font-weight: bold">EMI Details</h3>
                    <table style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;">EMI Date</th>
                            <th style="width: 60%;">Particulars</th>
                            <th>EMI Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td *ngIf="data.loanBook.date; else not">{{data.loanBook.date| date:'dd-MM-yyyy'}}</td>
                            <td class="col-5" *ngIf="data.loanBook.particulars; else not">{{data.loanBook.particulars}}</td>
                            <td *ngIf="data.loanBook.EMI; else not">{{data.loanBook.EMI| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <ng-template #not>
            <td>null</td>
        </ng-template>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button class="btn-danger" mat-button mat-dialog-close>Cancel</button>
    <button class="btn-success" mat-button (click)="onConfirmClick()" cdkFocusInitial>Download</button>
</mat-dialog-actions>
