<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{'Employee.Pages.Eligible'|translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div *ngIf="eligible; else not">
        <button type="button" class="btn bg-primary btn-style" [routerLink]="['/apply-loan']">{{'Employee.Pages.Apply'|translate}}</button>
    </div>
    <ng-template #not>
        <div>
            <button type="button" class="btn bg-primary btn-style" [routerLink]="['/apply-loan']" disabled>{{'Employee.Pages.Apply'|translate}}</button>
        </div>
    </ng-template>
    <br/><br/><br/>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Employee.Pages.Eligible'|translate}}</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{{'Employee.LoanEligible.Eligible'| translate}}</td>
                            <td>{{eligibleLoan}}</td>
                        </tr>
                        <tr>
                            <td>{{'Employee.LoanEligible.EligibleAmount'| translate}}</td>
                            <td>{{eligibleAmount| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Employee.LoanEligible.Amount'| translate}}</td>
                            <td>{{eligibleLeftAmount| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <ng-container *ngFor="let val of loanData">
        <sb-card>
            <div class="card-header bg-primary headers">
                <div class="row">
                    <div class="col" style="margin-top: 10px;">
                        <h5><fa-icon class="mr-1" [icon]='["fas", "rupee-sign"]'></fa-icon>&nbsp;{{'Employee.Loan'| translate}} ({{val.loanData.date| date:'dd-MM-yyyy'}})</h5>
                    </div>
                    <div class="col">
                        <span class="float-right" style="margin: 10px;"><h5>{{val.loanData.loanAmount| indianCurrency}}</h5></span>
                    </div>
                </div>
            </div>
        </sb-card>
    </ng-container>
</sb-layout-emp-dashboard>

