<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="5,00,000" background="bg-primary">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "hockey-puck"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Employee.Cards.Loan'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="20,00,000" background="bg-warning">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "wallet"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Employee.Cards.Deposit'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="3,00,000" background="bg-success">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "coins"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Employee.Cards.Debit'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="3,456" background="bg-danger">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "money-check"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Employee.Cards.Credit'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
</div>
