<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Generate' | translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header">
                    <div class="row">
                        <div class="col" style="margin-top: 10px;">
                            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{"Accountant.Pages.Generate" | translate}}
                        </div>
                        <div class="col">
                                <input type="text" placeholder="Search.." [(ngModel)]="term"/>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <mat-form-field style="float: right;">
                        <mat-label>{{'Accountant.Tables.Date'| translate}}</mat-label>
                        <label>
                            <input matInput [matDatepicker]="ep" [formControl]="emiDate">
                        </label>
                        <mat-datepicker-toggle matSuffix [for]="ep"></mat-datepicker-toggle>
                        <mat-datepicker #ep
                                        startView="multi-year"
                                        (yearSelected)="chosenAnotherYearHandler($event)"
                                        (monthSelected)="chosenAnotherMonthHandler($event, ep)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                    <br>
                    <br>
                    <button (click)="showTable()" *ngIf="!show">{{"Accountant.Tables.Show" | translate}}</button>
                    <table class="table table-striped" id="GenerateTable" *ngIf="show">
                        <thead>
                        <tr>
                            <th scope="col">{{"Accountant.Tables.EmployeeNo" | translate}}</th>
                            <th scope="col">Loan Amount</th>
                            <th scope="col">Loan Duration</th>
                            <th scope="col">Loan Type</th>
                            <th scope="col"><span>{{"Accountant.Pages.Generate" | translate}}</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of data | filter: term | paginate: { itemsPerPage:5, currentPage: p} ">
                            <td>{{ val.userId }}</td>
                            <td>{{ val.loanAmount| indianCurrency}}</td>
                            <td>{{val.loanDuration}}</td>
                            <td>{{ val.loanType}}</td>
                            <td>{{val.EMI| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" *ngIf="show">
                        <div class="col-6">
                            <div class="pagination">
                                <pagination-controls (pageChange)="p=$event"></pagination-controls>
                            </div>
                        </div>
                        <div class="col-6 ml-auto">
                            <button (click)="export()">{{"Accountant.Tables.Download" | translate}}</button>
                        </div>
                    </div>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>

