<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{'Common.Title'|translate}}">
    </sb-dashboard-head>
    <!--ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"[ngClass]="{active: true}">
            <a [routerLink]="['/emp-dashboard']">{{'Common.Title'| translate}}</a>
            <span>{{'Common.Title'|translate}}</span>
        </li>
    </ol-->
    <hr class="rounded">
    <br>
    <sb-dashboard-cards>
    </sb-dashboard-cards>
    <sb-dashboard-tables>
    </sb-dashboard-tables>
</sb-layout-emp-dashboard>
