<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Entry'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Entry'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline">
                        <label>
                            <input type="text" placeholder="Enter Employee No" name="employeeNo" [(ngModel)]="text"/>
                        </label>
                        <button (click)="showTable()">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Corpus'| translate}}</td>
                            <td>{{corpusData}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Eligible'| translate}}</td>
                            <td *ngIf="eligible; else not">{{"Accountant.Tables.Yes" | translate}}</td>
                            <ng-template #not>
                                <td>{{"Accountant.Tables.No" | translate}}</td>
                            </ng-template>
                        </tr>
                        <tr *ngIf="eligible">
                            <td>{{'Accountant.Tables.Date'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="eligible">
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" [(ngModel)]="type">
                                        <option>{{'Accountant.Tables.Personal'| translate}}</option>
                                        <option>{{'Accountant.Tables.Emergency'| translate}}</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="eligible">
                            <td>{{'Accountant.Tables.Loan'| translate}} (in INR)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="loanAmount" name="amount"/>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="eligible">
                            <td>{{'Accountant.Tables.Duration'| translate}} (in Months)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="duration" name="duration"/>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="!eligible">
                            <td>{{'Accountant.Tables.Make'| translate}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" (change)="focusoutHandler($event)" />
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button *ngIf="table" (click)="send()">{{'Accountant.Tables.Submit'| translate}}</button>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>
