<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Entry'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Entry'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="showTable()">
                        <label>
                            <input type="text" placeholder="Enter Employee No" formControlName="employeeNo"/>
                        </label>
                        <button type="submit" [disabled]="!searchForm.valid">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Corpus'| translate}}</td>
                            <td>{{corpusData| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Deposit'| translate}}</td>
                            <td>{{depositData| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.PreviousLoans'| translate}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" (change)="focusoutHandler($event)" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Date'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" [(ngModel)]="type">
                                        <option>{{'Accountant.Tables.Personal'| translate}}</option>
                                        <option>{{'Accountant.Tables.Emergency'| translate}}</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Interest'| translate}}</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="interest" name="interest" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Loan'| translate}} (in INR)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="loanAmount" name="amount"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Duration'| translate}} (in Months)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="duration" name="duration"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button *ngIf="table" (click)="send()">{{'Accountant.Tables.Submit'| translate}}</button>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div *ngIf="show">
        <ng-container *ngFor="let data of loans; let i = index">
            <sb-card>
                <div class="card-header bg-primary headers">
                    <div class="row">
                        <div class="col" style="margin-top: 10px; color: white;">
                            <h5><fa-icon class="mr-1" [icon]='["fas", "rupee-sign"]'></fa-icon>&nbsp;{{'Employee.Loan'| translate}} ({{data.loanData.date| date:'dd-MM-yyyy'}})</h5>
                        </div>
                        <div class="col" style="color: white;">
                            <span class="float-right" style="margin: 10px;"><h5 *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount| indianCurrency}}</h5></span>
                        </div>
                    </div>
                </div>
                <ng-template #not>
                    <td>-</td>
                </ng-template>
                <div class="card-header" *ngIf="data.loanBook">
                    <div class="row">
                        <div class="col" style="margin-top: 10px;">
                            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>&nbsp;{{"Employee.Loanbook.Title" | translate}}
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive" *ngIf="data.loanBook">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;" scope="col"><span>{{"Employee.Loanbook.Date" | translate}}</span></th>
                            <th style="width: 60%;" scope="col"><span>{{"Employee.Loanbook.Particulars" | translate}}</span></th>
                            <th scope="col"><span>{{"Employee.Loanbook.Emi" | translate}}</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of data.loanBook">
                            <th scope="row" *ngIf="isDate(val.date); else notDate">{{val.date| date:'dd-MM-yyyy'}}</th>
                            <ng-template #notDate>
                                <th scope="row">{{val.date}}</th>
                            </ng-template>
                            <td *ngIf="val.particulars; else not">{{val.particulars}}</td>
                            <td *ngIf="val.credit; else not">{{val.credit| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body table-responsive" *ngIf="data.closeData && data.closeData[0].mode==='Cash';else cheque">
                    <h3 style="font-weight: bold; text-align: center;">Loan Closure Details</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"><span>{{"Accountant.Tables.ShowDate" | translate}}</span></th>
                            <th scope="col"><span>{{"Accountant.Tables.LoanStatus"  | translate}}</span></th>
                            <th scope="col"><span>{{"Accountant.Tables.Mode" | translate}}</span></th>
                            <th scope="col"><span>{{"Accountant.Tables.Pay" | translate}}</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" *ngIf="isDate(data.closeData[0].date); else notDate">{{data.closeData[0].date| date:'dd-MM-yyyy'}}</th>
                            <ng-template #notDate>
                                <th scope="row">{{data.closeData[0].date}}</th>
                            </ng-template>
                            <td *ngIf="data.loanData.closeStatus; else not">{{data.loanData.closeStatus}}</td>
                            <td *ngIf="data.closeData[0].mode; else not">{{data.closeData[0].mode}}</td>
                            <td *ngIf="data.closeData[0].credit; else not">{{data.closeData[0].credit| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #cheque>
                    <div class="card-body table-responsive" *ngIf="data.closeData && data.closeData[0].mode==='Cheque'">
                        <h3 style="font-weight: bold; text-align: center;">{{"Accountant.Tables.LoanStatus" | translate}}</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"><span>{{"Accountant.Tables.ShowDate" | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.LoanStatus"  | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.Mode" | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.Pay" | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.ChequeDate" | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.BankName"  | translate}}</span></th>
                                <th scope="col"><span>{{"Accountant.Tables.ChequeNo" | translate}}</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" *ngIf="isDate(data.closeData[0].date); else notDate">{{data.closeData[0].date| date:'dd-MM-yyyy'}}</th>
                                <ng-template #notDate>
                                    <th scope="row">{{data.closeData[0].date}}</th>
                                </ng-template>
                                <td *ngIf="data.loanData.closeStatus; else not">{{data.loanData.closeStatus}}</td>
                                <td *ngIf="data.closeData[0].mode; else not">{{data.closeData[0].mode}}</td>
                                <td *ngIf="data.closeData[0].credit; else not">{{data.closeData[0].credit| indianCurrency}}</td>
                                <td *ngIf="data.chequeData[0].chequeDate; else not">{{data.chequeData[0].chequeDate| indianCurrency}}</td>
                                <td *ngIf="data.chequeData[0].bankName; else not">{{data.chequeData[0].bankName| indianCurrency}}</td>
                                <td *ngIf="data.chequeData[0].chequeNo; else not">{{data.chequeData[0].chequeNo| indianCurrency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </sb-card>
        </ng-container>
    </div>
</sb-layout-dashboard>
