<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Entry'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Entry'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline">
                        <label>
                            <input type="text" placeholder="Enter Employee No" name="employeeNo" [(ngModel)]="text"/>
                        </label>
                        <button (click)="showTable()">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Corpus'| translate}}</td>
                            <td>{{corpusData| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Deposit'| translate}}</td>
                            <td>{{depositData| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.PreviousLoans'| translate}}</td>
                            <td>
                                <label>
                                    <input type="checkbox" (change)="focusoutHandler($event)" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Date'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" [(ngModel)]="type">
                                        <option>{{'Accountant.Tables.Personal'| translate}}</option>
                                        <option>{{'Accountant.Tables.Emergency'| translate}}</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Interest'| translate}}</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="interest" name="interest" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Loan'| translate}} (in INR)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="loanAmount" name="amount"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Duration'| translate}} (in Months)</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="duration" name="duration"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button *ngIf="table" (click)="send()">{{'Accountant.Tables.Submit'| translate}}</button>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
    <div *ngIf="show">
        <ng-container *ngFor="let data of loans | paginate: { itemsPerPage:5, currentPage: p}; let i = index">
            <sb-card>
                <div class="card-header bg-primary headers">
                    <div class="row">
                        <div class="col" style="margin-top: 10px; color: white;">
                            <h5><fa-icon class="mr-1" [icon]='["fas", "rupee-sign"]'></fa-icon>&nbsp;{{'Employee.Loan'| translate}} ({{data.loanData.date| date:'dd-MM-yyyy'}})</h5>
                        </div>
                        <div class="col" style="color: white;">
                            <span class="float-right" style="margin: 10px;"><h5 *ngIf="data.loanData.loanAmount; else not">{{data.loanData.loanAmount| indianCurrency}}</h5></span>
                        </div>
                    </div>
                </div>
                <ng-template #not>
                    <td>null</td>
                </ng-template>
                <div class="card-header" *ngIf="data.loanBook">
                    <div class="row">
                        <div class="col" style="margin-top: 10px;">
                            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>&nbsp;{{"Employee.Loanbook.Title" | translate}}
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive" *ngIf="data.loanBook">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 16.66%;" scope="col"><span>{{"Employee.Loanbook.Date" | translate}}</span></th>
                            <th style="width: 60%;" scope="col"><span>{{"Employee.Loanbook.Particulars" | translate}}</span></th>
                            <th scope="col"><span>{{"Employee.Loanbook.Emi" | translate}}</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" *ngIf="data.loanBook.date; else not">{{data.loanBook.date| date:'dd-MM-yyyy'}}</th>
                            <td *ngIf="data.loanBook.particulars; else not">{{data.loanBook.particulars}}</td>
                            <td *ngIf="data.loanBook.EMI; else not">{{data.loanBook.EMI| indianCurrency}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </sb-card>
        </ng-container>
    </div>
</sb-layout-dashboard>
