<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Debit'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Debit'| translate}}</div>
                <div class="card-body table-responsive">
                    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="showTable()">
                        <label>
                            <input type="text" placeholder="Enter Employee No" formControlName="employeeNo"/>
                        </label>
                        <button type="submit" [disabled]="!searchForm.valid">{{'Accountant.GetInfo'| translate}}</button>
                    </form>
                    <table class="table table-striped" *ngIf="table" id="content">
                        <tbody>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                            <td>{{text}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Corpus'| translate}}</td>
                            <td>{{corpusData| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Balance'| translate}}</td>
                            <td>{{balance| indianCurrency}}</td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Date'| translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="date" name="date"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.DebitAmount'| translate}}</td>
                            <td>
                                <label>
                                    <input type="number" [(ngModel)]="debitAmount" (focusout)="debit($event)" name="amount"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Mode' | translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" [(ngModel)]="type">
                                        <option>{{'Accountant.Tables.Cash' | translate}}</option>
                                        <option>{{'Accountant.Tables.Cheque' | translate}}</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="type == 'Cheque'">
                            <td>{{'Accountant.Tables.BankName' | translate}}</td>
                            <td>
                                <label>
                                    <select class="custom-select" name="bankName" [(ngModel)]="bankName">
                                        <option *ngFor="let val of bankList">{{val.bankName}}</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="type == 'Cheque'">
                            <td>{{'Accountant.Tables.ChequeDate' | translate}}</td>
                            <td>
                                <label>
                                    <input type="date" [(ngModel)]="chequeDate" name="chequeDate"/>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="type == 'Cheque'">
                            <td>{{'Accountant.Tables.ChequeNo' | translate}}</td>
                            <td>
                                <label>
                                    <input type="text" [(ngModel)]="chequeNo" name="chequeNo"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'Accountant.Tables.Remark'| translate}}</td>
                            <td>
                                <label>
                                    <input type="text" [(ngModel)]="purpose" name="purpose"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button *ngIf="table" (click)="send()">{{'Accountant.Tables.Submit'| translate}}</button>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-dashboard>



