<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{'Employee.Pages.Eligible'|translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Employee.Pages.Eligible'|translate}}</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{{'Employee.LoanEligible.Eligible'| translate}}</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>{{'Employee.LoanEligible.Amount'| translate}}</td>
                            <td>3,56,789</td>
                        </tr>
                        <tr>
                            <td>{{'Employee.LoanEligible.EligibleAmount'| translate}}</td>
                            <td>5,67,800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-emp-dashboard>
