<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Title'|translate}}">
    </sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details text="{{noOfLoans| indianCurrency}}" background="bg-danger">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "money-check"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Accountant.Cards.People'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details text="{{loanAmount| indianCurrency}}" background="bg-primary">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "rupee-sign"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Accountant.Cards.Loan'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details  text="{{amount| indianCurrency}}" background="bg-success">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "coins"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Accountant.Cards.Amount'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
        <div class="col-xl-3 col-md-6">
            <sb-card-view-details  text="{{interest| indianCurrency}}" background="bg-warning">
                <div class="card-body">
                    <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "hand-holding-usd"]'></fa-icon>
                    <p style="margin-top: 10px;">{{'Accountant.Cards.Interest'| translate}}</p>
                </div>
            </sb-card-view-details>
        </div>
    </div>
    <!--Cash Balance Table-->
    <sb-card>
        <div class="card-header">
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{"Accountant.Tables.CashBal" | translate}}
                </div>
            </div>
        </div>
        <ng-template #not>
            <td>-</td>
        </ng-template>
        <div class="card-body table-responsive">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                <tr>
                    <th>{{'Accountant.Credit'| translate}}</th>
                    <th>{{'Accountant.Debit'| translate}}</th>
                    <th>{{'Accountant.Tables.Total'| translate}}</th>
                </tr>
                </thead>
                <tbody *ngFor="let val of balanceCash">
                <tr>
                    <td *ngIf="val.credit; else not">{{val.credit| indianCurrency}}</td>
                    <td *ngIf="val.debit; else not">{{val.debit| indianCurrency}}</td>
                    <td>{{(val.credit-val.debit)| indianCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </sb-card>
    <!--Bank Balance Table-->
    <sb-card>
        <div class="card-header">
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{"Accountant.Tables.BankBal" | translate}}
                </div>
            </div>
        </div>
        <ng-template #not>
            <td>-</td>
        </ng-template>
        <div class="card-body table-responsive">
            <table class="table table-striped" style="text-align: center;">
                <thead>
                <tr>
                    <th>{{'Accountant.Tables.BankName'| translate}}</th>
                    <th>{{'Accountant.Credit'| translate}}</th>
                    <th>{{'Accountant.Debit'| translate}}</th>
                    <th>{{'Accountant.Tables.Total'| translate}}</th>
                </tr>
                </thead>
                <tbody *ngFor="let val of balanceBank">
                <tr>
                    <td *ngIf="val.bankName; else not">{{val.bankName}}</td>
                    <td *ngIf="val.credit; else not">{{val.credit| indianCurrency}}</td>
                    <td *ngIf="val.debit; else not">{{val.debit| indianCurrency}}</td>
                    <td>{{(val.credit-val.debit)| indianCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </sb-card>
    <!--Loan Approval Table-->
    <sb-card *ngIf="loanApprove">
        <div class="card-header">
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{"Accountant.Tables.LoanApprove" | translate}}
                </div>
                <div class="col">
                    <input type="text" placeholder="Search.." [(ngModel)]="term"/>
                </div>
            </div>
        </div>
        <ng-template #not>
            <td>-</td>
        </ng-template>
        <div class="card-body table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                    <td>{{'Accountant.Tables.LoanDate'| translate}}</td>
                    <td>{{'Accountant.Tables.Loan'| translate}}</td>
                    <td>{{'Accountant.Tables.Duration'| translate}}</td>
                    <td>{{'Accountant.Tables.LoanType'| translate}}</td>
                    <td>{{'Accountant.Tables.AR'| translate}}</td>
                </tr>
                </thead>
                <tbody *ngFor="let loan of loanData | filter: term | paginate: { itemsPerPage:5, currentPage: p}; let i=index;">
                <tr>
                    <td *ngIf="loan.userId; else not">{{loan.userId}}</td>
                    <td *ngIf="loan.date; else not">{{loan.date| date:'dd-MM-yyyy'}}</td>
                    <td *ngIf="loan.loanAmount; else not">{{loan.loanAmount| indianCurrency}}</td>
                    <td *ngIf="loan.loanDuration; else not">{{loan.loanDuration}}</td>
                    <td *ngIf="loan.loanType; else not">{{loan.loanType}}</td>
                    <td>
                        <label>
                            <input type="checkbox" (click)="approve(i)"/>
                        </label>
                    </td>
                </tr>
                <tr *ngIf="approveMode[i]" align="center">
                    <td colspan="6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>{{'Accountant.Tables.Interest'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="interestAmt[i]" name="interest" />
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col">
                                <button (click)="approveLoan(loan.userId,loan.loanId, interestAmt[i])">{{'Accountant.Tables.Approve'| translate}}</button>
                            </div>
                            <div class="col">
                                <button (click)="rejectLoan(loan.userId,loan.loanId)">{{'Accountant.Tables.Reject'| translate}}</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>
