<sb-layout-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Sheet' | translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <sb-card>
        <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Sheet' | translate}}</div>
        <div class="card-body">
            <input type="file" (change)="change($event)" multiple="false"  placeholder="Upload file" accept=".xlsx" />
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let row of data">
                        <td *ngFor="let val of row">{{val}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </sb-card>
</sb-layout-dashboard>
