<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details text="{{loanAmount}}" background="bg-primary">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "rupee-sign"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Accountant.Cards.Loan'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details  text="{{interestAmount}}" background="bg-warning">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "hand-holding-usd"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Accountant.Cards.Interest'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details  text="{{principleAmount}}" background="bg-success">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "coins"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Accountant.Cards.Amount'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details text="{{noOfLoans}}" background="bg-danger">
            <div class="card-body">
                <fa-icon class="mr-1 fa-pull-right" style="opacity: 0.5; font-size: 30px;" [icon]='["fas", "money-check"]'></fa-icon>
                <p style="margin-top: 10px;">{{'Accountant.Cards.People'| translate}}</p>
            </div>
        </sb-card-view-details>
    </div>
</div>
