<sb-layout-emp-dashboard>
    <sb-dashboard-head title="{{'Accountant.Pages.Update'| translate}}"></sb-dashboard-head>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-xl-2 col-md-1"></div>
        <div class="col-xl-8 col-md-10">
            <sb-card>
                <div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>{{'Accountant.Pages.Update'| translate}}</div>
                <div class="card-body">
                    <form [formGroup]="employeeForm" (ngSubmit)="send()">
                        <table class="table table-striped table-responsive">
                            <tbody>
                            <tr>
                                <td>{{'Accountant.Tables.Image'| translate}}</td>
                                <td>
                                    <img [src]="url" height="200"> <br/>
                                    <input type='file' (change)="onSelectFile($event)">
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.EmployeeNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="employeeId" formControlName="employeeId" required />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('employeeId').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.EmployeeName'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" [(ngModel)]="employeeName" formControlName="employeeName" required />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('employeeName').hasError('required')">Required!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Father'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" [(ngModel)]="fatherName" formControlName="fatherName" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.PermAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" [(ngModel)]="permAddress" formControlName="permAddress" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.SameAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="checkbox" (click)="sameAddress($event)" [(ngModel)]="check" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.CurrAddress'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="text" [(ngModel)]="currAddress" value="{{currAddress}}" formControlName="currAddress" />
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Email'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="email" [(ngModel)]="email" formControlName="email" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('email').hasError('email')">Provide valid email</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.MobNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="mobileNo" formControlName="mobileNo" maxlength="10" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('mobileNo').hasError('min')">Number should be of 10 digits</div>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('mobileNo').hasError('max')">Number should be of 10 digits</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.AltMobNo'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="altMobileNo" formControlName="altMobileNo" maxlength="10" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('altMobileNo').hasError('min')">Number should be of 10 digits</div>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('altMobileNo').hasError('max')">Number should be of 10 digits</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Landline'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="landlineNo" formControlName="landlineNo" maxlength="10" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('landlineNo').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.PAN'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="pan" formControlName="pan" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('pan').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Accountant.Tables.Aadhar'| translate}}</td>
                                <td>
                                    <label>
                                        <input type="number" [(ngModel)]="aadharNo" formControlName="aadharNo" />
                                    </label>
                                    <div class="alert alert-danger error-box" *ngIf="employeeForm.get('aadharNo').hasError('pattern')">Invalid Number!</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" [disabled]="!employeeForm.valid">{{'Accountant.Tables.Submit'| translate}}</button>
                    </form>
                </div>
            </sb-card>
        </div>
        <div class="col-xl-2 col-md-1"></div>
    </div>
</sb-layout-emp-dashboard>





