<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="5,00,000" background="bg-primary"><div class="card-body">{{'Accountant.Cards.Loan'| translate}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="20,00,000" background="bg-warning"><div class="card-body">{{'Accountant.Cards.Interest'| translate}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="3,00,000" background="bg-success"><div class="card-body">{{'Accountant.Cards.Amount'| translate}}</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="" text="3,456" background="bg-danger"><div class="card-body">{{'Accountant.Cards.People'| translate}}</div></sb-card-view-details>
    </div>
</div>
